@import "./node_modules/bootstrap/scss/bootstrap.scss";

* {
  margin: 0px;
  padding: 0px;
  list-style: none;
  box-sizing: border-box;
}
body {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  background-color: #222;
  color: aliceblue;
  font-family: "Roboto", sans-serif;
}
.forca {
  fill: transparent;
  stroke: #fff;
  stroke-width: 4px;
  stroke-linecap: round;
}
.jogo-container {
  display: flex;
  justify-content: space-evenly;
  width: 100%;
}
.forca-parte {
  display: none;
}
main {
  border: 2px solid #000;
  padding: 2rem;
  display: flex;
}

.keyboard {
  display: grid;
  grid-template-columns: repeat(9, 1fr);
  gap: 0.4rem;
}
